<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PlotConfiguration" type="BatchPlot.Configuration.PlotConfiguration, BatchPlot" />
  </configSections>
  <PlotConfiguration
    PlotLayoutName                = "Energis_plot_layout_name"
    DrawingSize                   = "500,250"
    ExternalBorderWidth           = "5"
    InternalBorderWidth           = "10"
    CartridgeExternalBorderWidth  = "5"
    PlotCartridgeWidth            = "190"
    PlotOrigin                    = "5,5"
    EstCartridgeTemplateFilePath  = "C:\\Test\\Plot\\Plot01\\Scripts\\Gis_cstd_est.dwg"
    WestCartridgeTemplateFilePath = "C:\\Test\\Plot\\Plot01\\Scripts\\Gis_cstd_ouest.dwg"
    DefaultStyleSheet             = "Default.ctb"
    ConnectionString              = "DATA SOURCE=WALLP1_UNWALL.WORLD;USER ID=GENERGIS;PASSWORD=GENERGIS87;PERSIST SECURITY INFO=True;Pooling=false;"
    WestFileServerName            = "W:\RWA005"
    EstFileServerName             = "W:\RWA004"
    WestFileServerUncName         = "\\xs060922\rwa005"
    EstFileServerUncName          = "\\xs060921\rwa004"
    ServerName                    = "# ServerName #"
    TopoLayersRegexFilter         = "^BR\d\d|BB\d\d|BF\d\d|BH\d\d|BG\d\d|BL\d\d|BP\d\d|BT\d\d|BW\d\d|W\d{4}$"
    LayersToDeleteRegexFilter     = "^BR05|niv_voirie|w0001|W0060|W0070$">
    <PaperFormats>
      
      <add PlotterName="Impetrant" CanonicalMediaName="UserDefinedMetric (594.00 x 1270.00MM)"    PlotPaperSize="1270,594" />
      <add PlotterName="Impetrant" CanonicalMediaName="UserDefinedMetric (297.00 x 740.00MM)"     PlotPaperSize="740,297"  />
      
      <add PlotterName="DWF6"      CanonicalMediaName="ISO_full_bleed_B0_(1000.00_x_1414.00_MM)"  PlotPaperSize="1414,1000" />
      <add PlotterName="DWF6"      CanonicalMediaName="ANSI_D_(22.00_x_34.00_Inches)"             PlotPaperSize="863.6,558.8" />

      <add PlotterName="Canon C5235 - MERCK NAM IT - BSM Reseaux.pc3"     CanonicalMediaName="A3"      PlotPaperSize="419.94,296.92" />      
      
      <add PlotterName='PlotWave 750 - EDLX AYE - Bureau de dessin'       CanonicalMediaName="Roll914" PlotPaperSize='914,6000' />
      <add PlotterName='PlotWave 900 - EDH SYA - Bureau de dessin'        CanonicalMediaName="Roll914" PlotPaperSize='914,6000' />
      <add PlotterName='PlotWave 900 - EDH SYA - Bureau de dessin (PS)' 
           Pc3Name='Oce TDS860 - Plot Serveur (PTF).pc3' 
           CtbName='PlotWave 900 - EDH SYA - Bureau de dessin.ctb'
           CanonicalMediaName="Roll914"
           PlotPaperSize='914,6000' />
      <add PlotterName='PlotWave 750 - EDLX AYE - Bureau de dessin (PS)'
           Pc3Name='Oce TDS860 - Plot Serveur (PTF).pc3' 
           CtbName='PlotWave 750 - EDLX AYE - TDS860 Bureau de dessin.ctb'
           CanonicalMediaName="Roll914"
           PlotPaperSize='914,6000' />
      <add PlotterName='Oce TDS860 - Plot Serveur (PTF)'
           CanonicalMediaName="Roll914"
           PlotPaperSize='914,6000' />
    </PaperFormats>
  </PlotConfiguration>
</configuration>