<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PlotConfiguration" type="BatchPlot.Configuration.PlotConfiguration, BatchPlot" />
  </configSections>
  <PlotConfiguration
    PlotLayoutName                = "Energis_plot_layout_name"
    DrawingSize                   = "50,25"
    ExternalBorderWidth           = "5"
    InternalBorderWidth           = "10"
    CartridgeExternalBorderWidth  = "10"
    PlotCartridgeWidth            = "190"
    PlotOrigin                    = "5,5"
    EstCartridgeTemplateFilePath  = "C:\\Test\\Plot\\Plot01\\Scripts\\Gis_cstd_est.dwg"
    WestCartridgeTemplateFilePath = "C:\\Test\\Plot\\Plot01\\Scripts\\Gis_cstd_ouest.dwg"
    DefaultStyleSheet             = "Default.ctb"
    ConnectionString              = "DATA SOURCE=WALLP1_UNWALL.WORLD;USER ID=GENERGIS;PASSWORD=GENERGIS87;PERSIST SECURITY INFO=True;Pooling=false;"
    WestFileServerName            = "RWA005"
    EstFileServerName             = "RWA004"
    ServerName                    = "XXXXXXXXXX"
    TopoLayersRegexFilter         = "^BR\d\d|BB\d\d|BF\d\d|BH\d\d|BG\d\d|BL\d\d|BP\d\d|BT\d\d|BW\d\d|W\d{4}$"
    LayersToDeleteRegexFilter     = "^BR05|niv_voirie|w0001|W0060|W0070$">
    <PageFormats>
      <add Pc3Name = "Impetrant.pc3" CanonicalMediaName = "UserDefinedMetric (594.00 x 1270.00MM)"   PlotPaperSize = "1270,594" />
      <add Pc3Name = "Impetrant.pc3" CanonicalMediaName = "UserDefinedMetric (297.00 x 740.00MM)"    PlotPaperSize = "740,297"/>
      <add Pc3Name = "xPDF.pc3"       CanonicalMediaName = "ISO_full_bleed_B0_(1000.00_x_1414.00_MM)" PlotPaperSize = "1000,1414" />
      <add Pc3Name = "xPDF.pc3"       CanonicalMediaName = "ANSI_D_(22.00_x_34.00_Inches)"            PlotPaperSize = "863.6,558.8" />
      <add Pc3Name = "XXXCanon C5235 - MERCK NAM IT - BSM Reseaux.pc3"  CanonicalMediaName = "A3"        PlotPaperSize = "419.94,296.92" />
    </PageFormats>
  </PlotConfiguration>
</configuration>